@import "../../variables.css";

.view-deck {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
.deck-breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  padding-left: 4rem;
  margin-top: 2rem;
}


.deck-content {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.breadcrumb-link {
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.breadcrumb-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: var(--primary-hover);
}

.breadcrumb-current {
  font-weight: 500;
  color: var(--text-hover);
}

.deck-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.deck-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.deck-tab-nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.page-view {
  padding: 0.5rem 1rem;
  background: none;
  font-family: var(--font-family);
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid transparent;
  color: #bbb;
  transition: all 0.25s ease;
  width: 10rem;
  transition: color 0.4s ease-in-out;
}

.page-view:hover {
  color: #fff;
  border-color: var(--primary-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
}

.page-view.active {
  color: #ddd;
  font-weight: 500;
  background: var(--gradient-button);
  background-size: 110% 110%;
  background-position: center;
  border: 1px solid transparent;
  cursor: default;
  border-radius: 6px;
}

.flashcard-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-counter {
  color: #4a4a4a;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1rem;
}

.flashcard-controls-buttons {
  display: flex;
  gap: 1rem;
  margin: 8px;
  width: auto;
  height: 2rem;
}

.buttonGradient {
  width: 10rem;
  background: var(--gradient-button);
  color: white;
  font-weight: 400;
  box-shadow: 0 0 12px rgba(121, 59, 236, 0.3);
  transition: all 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  height: 2rem;
  background-size: 110% 110%;
  background-position: center;
}

.buttonNoGradient {
  width: 10rem;
  font-weight: 400;
  box-shadow: 0 0 12px rgba(121, 59, 236, 0.3);
  transition: all 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  height: 2rem;
  cursor: pointer;
  height: 2.5rem;
  color: white;
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.buttonGradient:hover {
  box-shadow: 0 0 2px var(--text), 0 0 3px var(--text);
}

.buttonNoGradient:hover {
  box-shadow: 0 0 2px var(--text), 0 0 2px var(--text);
}

.flashcard-flip-card {
  width: 100%;
  max-width: 900px;
  height: 500px;
  perspective: 1200px;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.flashcard-flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flashcard-flip-card-inner.show-answer {
  transform: rotateX(180deg);
}

.flashcard-front,
.flashcard-back {
  color: var(--text);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 3rem;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #3a3a62;
  box-sizing: border-box; /* Prevent padding from expanding width */
}

.flashcard-back {
  transform: rotateX(180deg);
}

.flashcard-hint {
  margin-top: 1rem;
  font-size: 0.75rem;
  color: var(--text-hover);
}

.flashcard-controls2 {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures elements are spaced out */
  width: 100%;
  max-width: 900px;
  margin-bottom: 4rem;
  padding: 0 2rem; /* Adds padding to the left and right */
}

.flashcard-controls {
  width: 14rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.controls-space {
  display: flex;
  flex-grow: 1; /* Allows this element to grow and push other elements to the sides */
  justify-content: center; /* Centers the next and previous buttons */
  gap: 2rem;
}

.arrow-button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  background: linear-gradient(90deg, #5246e6 0%, #793bec 100%);
  background-size: 110% 110%;
  background-position: center;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.arrow-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.arrow-button:hover:not(:disabled) {
  box-shadow: 0 0 2px var(--text), 0 0 5px var(--text);
}

.card-counter {
  font-size: 1rem;
  color: var(--text-hover);
  font-weight: 200;
  width: 14rem;
  font-family: var(--font-family);
}

.answers-below {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  margin-bottom: 2rem;
}

.all-cards {
  color: var(--text);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1rem;
}

.flashcard-list {
  width: 100%;
  max-width: 900px;
}

.editable-flashcard {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  background-color: #3a3a62;

}

.flashcardtwo{
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.question {
  width: 100%;
  resize: none;
  min-height: 6rem;
  outline: none;
  text-align: left;
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: #3a3a62;
  border: none;
  color: var(--text);
  margin: 0;
  flex: 1 1 35%;
  padding: 1rem;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 300;
  border-right: 1px solid var(--secondary-background);

  padding-bottom: 4rem;

}

.answer {
  width: 100%;
  resize: none;
  min-height: 6rem;
  outline: none;
  text-align: left;
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: #3a3a62;
  border: none;
  color: var(--text);
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 4rem;

}



.buttons-flashcard {
    display: flex;
    flex-direction: row;  /* Stack children vertically */
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;  /* Center items horizontally */
    padding-top: 1rem;  /* Spacing inside the container */
    padding-bottom: 1rem;  /* Spacing inside the container */
    box-sizing: border-box;
    padding-right: 10px;
    background-color: #3a3a62;
    width: 100%;




  }

  .editing-field {
    outline: 3px solid var(--primary-color); /* Adjust the color and width as needed */
  }


  .stack-stuff{
    flex: 1 1 60%;
    width: 100%;
  }

  
  .icon-button {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: white;
    font-weight: 100;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  }

  .icon-button:hover{
    box-shadow: 0 0 2px var(--text), 0 0 5px var(--text);
  }
  

  .icon-button:hover {
    color: var(--text-hover);  /* Dark color for visibility */
  }


  .editing{
    font-family: var(--font-family);
    font-weight: 200;
    font-size: .75rem;
    color: var(--text-hover);

  }
  








  .markdown-summary {
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.7;
    padding: 2rem;
    background-color: #1b1c2e;
    color: #f1f1f1;
    border-radius: 12px;
    max-width: 1000px;
    margin: 2rem auto;
  }
  
  .markdown-summary h1,
  .markdown-summary h2,
  .markdown-summary h3 {
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
  }
  
  .markdown-summary ul {
    list-style: disc;
    padding-left: 2rem;
  }
  
  .markdown-summary li {
    margin-bottom: 0.5rem;
  }
  

  .create-flashcard-set-btn{
    width: 100%;
    max-width: 500px;
    height: 3rem;
    background: var(--gradient-button);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: .7rem;
    background: var(--gradient-button);    
    background-size: 110% 110%;
    background-position: center;
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .create-flashcard-set-btn:hover {
    box-shadow: 0 0 2.5px var(--text), 0 0 5px var(--text);
    border: 1px solid transparent;
}
  