# Environment variables
.env*

# Dependencies
/node_modules/

# Build outputs
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Miscellaneous files
.DS_Store

# Testing directories
/coverage/
