@import "../../variables.css";

.auth-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
}

.auth-page-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
}

.auth-page-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
}

.auth-page-left-container-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 29px;
  margin: 0;
  margin-bottom: 2rem;
}

.auth-page-left-container-header-logo {
  width: 1.68rem;
  height: 1.68rem;
  margin-right: 7px;
}

.auth-page-left-container-header-text {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  color: var(--text);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.auth-page-left-container-header-text:hover {
  color: var(--text-hover);
}

.auth-page-left-container-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.auth-page-left-container-welcome-text {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 1.2rem;
}

.auth-page-left-container-welcome-p-text {
  font-family: var(--font-family);
  color: var(--text-hover);
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
  margin-bottom: 2rem;
}

.auth-page-left-container-header-logo {
  width: 1.68rem;
  height: 1.68rem;
  margin-right: 8px;
}

.auth-page-left-container-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-page-left-container-form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.auth-page-left-container-form-input-container-label {
  text-align: left;
  font-family: var(--font-family);
  color: var(--text-hover);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  margin-bottom: 0.75rem;
  padding-left: 5px;
}

.auth-page-left-container-form-input-container-input {
  border: 1px solid var(--text);
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  color: var(--text);

}

.auth-page-left-container-form-input-container-input::placeholder{
  color: var(--text-hover);

}
.auth-page-left-container-form-input-container-input:hover {
  border-color: var(--text-hover);
  cursor: text;
}
.auth-page-left-container-form-input-container-input:focus-within {
  border-color: var(--text-hover);
}

.auth-page-left-container-form-input-container-input:active {
    border-color: var(--text-hover);

}

.auth-page-left-container-form-input-container-input:focus-visible {
    border-color:var(--text-hover);

  outline: none;
}

/* .auth-page-left-container-form-input-container-input:-webkit-autofill,
.auth-page-left-container-form-input-container-input:-webkit-autofill:hover,
.auth-page-left-container-form-input-container-input:-webkit-autofill:focus,
.auth-page-left-container-form-input-container-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--background-color) inset !important;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out !important;
  -webkit-text-fill-color: var(--white) !important;
  caret-color: var(--white) !important;
} */



.auth-page-left-container-form-forgot{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 1.25rem;
}

.auth-page-left-container-form-forgot-password{
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--font-family);
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin: 0;

}
.auth-page-left-container-form-forgot-password-transparent{
    color: transparent;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin: 0;
}

.auth-page-left-container-form-forgot-password:hover{
    color: var(--primary-hover);
    text-decoration: underline;
    text-underline-offset: 6px;
}


.auth-page-left-container-form-submit{
    box-shadow: 0 0 12px rgba(121, 59, 236, 0.3);
    background: var(--gradient-button);
    width: 100%;
    height: 48px;
    border-radius: 8px;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-bottom: 1.75rem;
}


.auth-page-left-container-form-submit:hover{
    box-shadow: 0 0 2px var(--text-hover), 0 0 3px var(--text-hover);

}

.loading{
    background-color: var(--hover-color);
}

.auth-page-left-container-form-continue{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 1.75rem;

}

.auth-page-left-container-form-continue-line{
    flex-shrink: 1;
    width: 100%;
    height: 1px;
    background-color: var(--text-hover);
}

.auth-page-left-container-form-continue-text{
    font-family: var(--font-family);
    width: 100%;
    font-size:.9rem;
    font-style: normal;
    font-weight: 400;
    min-width: 120px;
    line-height: normal;
    color: var(--text-hover);
    text-align: center;
}

.auth-page-left-container-form-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    margin-bottom: 1.1rem;
}

.auth-page-left-container-form-buttons-button{
    width: 100%;
    height: 48px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--text);
    text-align: center;
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.auth-page-left-container-form-buttons-button:hover{
    border: 1px solid var(--primary-hover);
    color: var(--text-hover);

}


.auth-page-left-container-form-buttons-button-icon-apple{
    width: 15px;
    height: 17px;
}
.auth-page-left-container-form-buttons-button-icon-google{
    width: 19px;
    height: 20px;
}

.auth-page-left-container-form-signup{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.auth-page-left-container-form-signup-text{
    color: var(--text-hover);
    text-align: center;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}


.auth-page-left-container-form-signup-link{
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;
}

.auth-page-left-container-form-signup-link:hover{
    color: var(--primary-hover);
    text-decoration: underline;
    text-underline-offset: 6px;
}

.auth-page-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%; 
    min-height: 100vh;
    overflow: hidden;
    
}

.auth-page-right-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }



  @media (max-width: 770px) {
    .auth-page-right{
        display: none;
    }

    .auth-page-left-container{
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .auth-page-left-container-header{
        justify-content: center;
    }
    .auth-page-left-container-header-text{
        font-size: 1.5rem;
    }

 

    .auth-page-left-container-welcome{
        align-items: center;
    }

    .auth-page-left-container-welcome-text{
        font-size: 2rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    
    .auth-page-left-container-welcome-p-text{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .auth-page-left-container-form-input-container{
        align-items: center;
    }
    .auth-page-left-container-form-input-container-label{
        display: none;
    }
    
    
    .auth-page-left-container-form-input-container-input{
        text-align: center;
        height: 40px;
        margin-bottom: 2.25rem;
        font-size: 1rem;
    }

    .auth-page-left-container-form-forgot{
        margin-top: -1.5rem;
        margin-bottom: 1.5rem;
    }
    .auth-page-left-container-form-forgot-password{
        font-size: .85rem;
    
    }

    .auth-page-left-container-form-submit{
        height: 40px;
        font-size: 1rem;
    }
    .auth-page-left-container-form-continue{
        gap: 10px;
        margin-bottom: 1.25rem;
    
    }
    .auth-page-left-container-form-continue-text{
        font-size: 1rem;
    }
    
    .auth-page-left-container-form-buttons{
        width: 100%;
        gap: 10px;
        margin-bottom: 1.2rem;
    }
    
    .auth-page-left-container-form-buttons-button{
        height: 40px;
        font-size: 1rem;
    }

    .auth-page-left-container-form-buttons-button-icon-apple{
        width: 12px;
        height: 14px;
    }
    .auth-page-left-container-form-buttons-button-icon-google{
        width: 15px;
        height: 16px;
    }

    .auth-page-left-container-form-signup{
        flex-direction: row;
    }
    
    .auth-page-left-container-form-signup-text{
        font-size: 1rem;
    }
    
    .auth-page-left-container-form-signup-link{
        font-size: 1rem;
    }
    
  }


  @media (max-width: 511px) {
    .auth-page-left-container-welcome-p-text{
        font-size: .8rem;
    }

    
    .auth-page-left-container-welcome-text{
        font-size: 1.65rem;
    }
    .auth-page-left-container-form-continue-text{
        font-size: .75rem;
    }
    .auth-page-left-container-form-signup{
        flex-direction: column;
    }

    .auth-page-left-container-form-signup-text{
        font-size: .75rem;
    }

    .auth-page-left-container-form-signup-link{
        font-size: .75rem;

    }
  }