@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    /* Font */
    --font-family: 'Inter', sans-serif;

    --background-color: #21213b;
    --primary-color: #6a5acd;
    --primary-hover: #453b85;
    --gradient-button: linear-gradient(90deg, #5246e6 0%, #793bec 100%);
    --text: #ffffff;
    --text-hover: #c8c8c8;
    --secondary-background: #1a1a2e; 






}

body {
    background-color: var(--background-color);
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');